<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MAKERERE CHRISTIAN UNION</title>

<link href="/static/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/contact_us.js"></script>
<script type="text/javascript" src="/static/js/news_letter.js"></script>
</head>
<body>
<div id="banner_wrapper">
    <div id="banner">
    
        <div id="banner_header_01">MAKERERE CHRISTIAN UNION</div>
        <div id="banner_header_02">Preaching Christ, ministering 
                     God's love  on campus!</div>
        <div id="banner_text">
            <p>Scripture is needed here!</p>
            <div class="rc_btn_01"><a href="#">Continue reading...</a></div>
        </div>
    </div>	<!-- end of banner -->
</div> <!-- end of banner wrapper -->

<div id="menu_wrapper">    
    {% block head1 %}{% endblock %}
</div> <!-- end of menu wrapper -->

<div id="content_wrapper">
<div id="content">

    <div id="content_left">
        <div class="content_left_section">
            <div class="content_header_01">Our news</div>
            <div class="news_section">
                <div class="news_date">{% block head2 %}{% endblock %}</div>
                <div class="news_title">{% block content1 %}{% endblock %}</div>
                <p>{% block content2 %}{% endblock %}<a href="#">Read more</a></p>
            </div>
        
            <div class="margin_bottom_30"></div>
        
            
        
            <div class="margin_bottom_20"></div>
            <div class="rc_btn_02"><a href="#">View All</a></div> 
        <div class="cleaner"></div>
        
        </div>   <!-- end of news section -->
        
        <div class="margin_bottom_20 border_bottom"></div>
        <div class="margin_bottom_20"></div>
        
        <div class="content_left_section">
            <div class="content_header_01">Newsletter</div>
            <p>Please enter your email address to subscribe for our newsletter</p>
            <form id="news_letter_form" name="news_letter_form">
                <input type="email" id="e_mail" name="e_mail" />
                <input type="button" value="Subscribe"  onClick="return Subscriber();" id="subscribe_button"/>
            </form>
            <div class="cleaner"></div>
            <em id="news_letter_res"></em>
        </div>
        
        <div class="margin_bottom_20 border_bottom"></div>
        <div class="margin_bottom_20"></div>
        
        <div class="content_left_section">
            
        </div>
    
        <div class="cleaner_h30">&nbsp;</div>
    </div> <!-- end of content left -->

    <div id="content_right">
    
        <div class="content_right_280_section margin_right_60">
            <div class="content_header_01">{% block head3 %}{% endblock %}</div>
            
                {% block content3 %}{% endblock %}
               
            </div>
    
        <div class="content_right_280_section">
            <div class="content_header_01">{% block head4 %}{% endblock %}</div>     
            {% block content4 %}{% endblock %}
    
            <div class="cleaner"></div>       
        </div>    
    
        <div class="margin_bottom_40 border_bottom"></div>
        <div class="margin_bottom_40"></div>
    
        <div class="content_right_section">
            <div class="content_header_02">{% block head5 %}{% endblock %}</div>
                    
                        {% block content5 %}{% endblock %}
    
                           
        <div class="cleaner_h20">&nbsp;</div>
    </div> <!-- end of content right -->

<div class="cleaner">&nbsp;</div>

</div> <!-- end of content -->
</div> <!-- end of content wrapper -->

<div id="footer_wrapper">        
    <div id="footer">
        Copyright © 2013 <a href="/">Makerere Christian Union</a> | 
        </div><!-- end of footer -->
</div><!-- end of footer wrapper -->
</body>
</html>
