{% extends 'base.html' %}


{% block head1 %}
<div id="menu">
        <ul>
            <li><a href="/" ><span></span>Home</a></li>
            <li><a href="/aboutUs/"><span></span>About Us</a></li>
            <li><a href="/departments/" class="current"><span></span>Departments</a></li>
            <li><a href="/fellowship/"><span></span>Fellowships</a></li>
            <li><a href="/gallery/"><span></span>Gallery</a></li>
            <li><a href="/contacts/"><span></span>Contact Us</a></li>
        </ul>    	
    </div> <!-- end of menu -->

{% endblock %}

{% block head2 %}<h3>Head and tail</h3>{% endblock %}
{% block content2 %}{% endblock %}

{%block head3%}<h3>tail and head</h3>{% endblock%}
{%block content3%}{% endblock %}

{% block head4 %}<h3>nose and mouth</h3>{% endblock %}
{% block content4 %}{% endblock %}

{% block head5 %}<h3>i love jesus</h3>{% endblock %}
{% block content5 %}{% endblock %}

{% block head6 %}<h3>Welcome to Makerere University Christian Union.</h3>{% endblock %}

