{% extends 'base.html' %}


{% block head1 %}

<div id="menu">
        <ul>
            <li><a href="/"  class="current"><span></span>Home</a></li>
            <li><a href="/aboutUs/"><span></span>About Us</a></li>
            <li><a href="/departments/"><span></span>Departments</a></li>
            <li><a href="/fellowship/"><span></span>Fellowships</a></li>
            <li><a href="/gallery/"><span></span>Gallery</a></li>
            <li><a href="/contacts/"><span></span>Contact Us</a></li>
        </ul>    	
    </div> <!-- end of menu -->

{% endblock %}

{% block head2 %}{% endblock %}
{% block content2 %}{% endblock %}

{%block head3%}{% endblock%}
{%block content3%}{% endblock %}

{% block head4 %}{% endblock %}
{% block content4 %}{% endblock %}

{% block head5 %}{% endblock %}
{% block content5 %}{% endblock %}

