menu ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	menu ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		menu ul ul li a {
			padding: 15px 40px;
			color: #fff;
		}	
			menu ul ul li a:hover {
				background: #4b545f;
			}
